<a href="https://colab.research.google.com/github/DESPI-Cj/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python Indentation

if 5>2:
  print("Five is greater than two")

Five is greater than two

In [3]:
#This is a comment
print("Hello, Ma'am")

Hello, Ma'am

In [5]:
#Python Variable
x = 1
a, b=0,-1
a,b,c=0,-1,2
print(a,b,c)

0 -1 2

In [7]:
#Casting
b="Fireball!"
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

In [10]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#Single or Double quote
y= "Despi"
y='Despi'

In [ ]:
#Case sensitve
a=4
A="Sally"
#A will not overwrite a

In [13]:
#Multiple Variables
x,y,z="one","two","three"
print(x,y,z)

one two three

In [15]:
#One value to multiple variables
x=y=z="four"
print(x,y,z)

four four four

In [22]:
#Output Variables
x = " enjoying"
print("Python is" + x)

#Other Way
x = "Python is"
y = " enjoying"
z = x + y
print(z)

Python is enjoying
Python is enjoying

In [27]:
#Arithmetic Operation
x = 5
y = 3
print(x+y)

x = 5
y = 3
sum = x + y
print(sum)

8
8

In [28]:
#Assignment Operator
a,b,c = 0,-1,6
c%=3
print(c)

0

In [30]:
#Comparison Operator
a,b,c=0,-1,6
a>b and c>b

True

In [38]:
#Identity Operator
a,b,c=0,-1,5
a is c

False

In [39]:
#Bitwise Operator
a,b,c=0,-1,5
c<<1

2